# Night Core safe .gitignore
target/
**/*.rs.bk
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
logs/
modules/*/sandbox/
*.exe
*.dll
*.pdb
*.lib
*.exp
keys/
licenses/
proofs/
license_unlock.key
device.id
firecracker.tgz
release-v1.9.0-x86_64/
firecracker_assets/
state/
upgrades/signatures/
